<nav id="sideNav">
  <h3>Search By Keyword</h3>
  <%= form_tag search_results_path, method: :get do %>
    <%= text_field_tag :search_keywords %>
    <%= submit_tag 'Search' %>
  <% end %>
  <br />
  <h3>Shop By Category:</h3>
  <%= link_to "All Products", root_path %>
  <br />
  <% @categories.each do |category| %>
    <%= link_to category.name, category %>
    <br />
  <% end %>
  <br />
  <h3>Favourite Product</h3>
  <% if @fav_prod %>
    <div id="favProd">
      <%= render @fav_prod %>
    </div>
    <% else %>
      <p>None Saved.</p>
  <% end %>
</nav>