<div class="product">
  <h2><%= link_to product.product_name, product %></h2>
  <p><%= image_tag(product.image) %></p>
  <p>Price: <%= product.price %></p>
  <p>Category: <br />
  <% if product.category.present? %>
    <%= product.category.name %>
  <% end %>
  </p>
  <p id="favourite">
    <%= link_to 'Set as favourite product', save_fav_prod_path(product), method: :post %>
  </p>
  <%= form_tag purchase_path(product.id), method: :get do %>
    <%= submit_tag 'Purchase' %>
  <% end %>
</div>